@model HardwareInventoryManager.Models.QuoteRequest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>QuoteRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuoteResponse.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteResponse.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecificationDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecificationDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuoteResponseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteResponseId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
