@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" class="img-circle" src="../assets/layouts/layout/img/avatar3_small.jpg" />
        <span class="username username-hide-on-mobile"> @User.Identity.GetUserName() </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a href="@Url.Action("Manage", "Account")"><i class="icon-user"></i>My Profile</a>
        </li>
        <li>
            @*@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-key"></i>Log off</a>
            }*@
            <a href="@Url.Action("LogOff", "Account")"><i class="icon-key"></i>Log Off</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-extended">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="dropdown-toggle" })</li>
        <li class="dropdown dropdown-extended">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-toggle" })</li>
    </ul>
}
