@model IEnumerable<HardwareInventoryManager.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>Contact Requests</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email Address
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Date Message Created
        </th>
         <th></th>
    </tr>

@foreach (var item in Model) {

    var msgClass = string.Empty;
        if(item.MessageRead.HasValue && item.MessageRead.Value) 
        {
            msgClass = "MessageRead";
        }
        else
        {
            msgClass = "MessageUnread";
        }
    <tr class="@msgClass">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ContactId })
        </td>
    </tr>
}

</table>
