@model HardwareInventoryManager.ViewModels.DashboardViewModel
<h1>Your Dashboard</h1>
<div class="row">
    <div class="row">
        <hr />
    </div>
    @if (Model.DisplayButtonsPanel)
    {
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-8">
            <div style="cursor: pointer" class="panel-custom" onclick="window.location.href='../BulkUploads/#/BulkUpload'">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="desc">Import Assets</div>
                    </div>
                    <a class="more" href="javascript:;">
                        View More
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
         <div class="col-lg-2 col-md-2 col-sm-4 col-xs-8">
            <div style="cursor: pointer" class="panel-custom" onclick="window.location.href='../Users'">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="desc">Manage Users</div>
                    </div>
                    <a class="more" href="javascript:;">
                        View More
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div style="cursor: pointer" class="panel-custom" onclick="window.location.href='../ApplicationSettings/IndexUserSettings'">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="desc">Settings</div>
                    </div>
                    <a class="more" href="javascript:;">
                        View More
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div style="cursor: pointer" class="panel-custom" onclick="window.location.href='../Reports/Index'">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="desc">Reports</div>
                    </div>
                    <a class="more" href="javascript:;">
                        View More
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
    }
    @if (Model.DisplayNotificationsPanel)
    {
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    Notifications
                </div>
                <div class="panel-body">
                    <p>Pending membership requests: </p>
                    <p>Messages from Inventory Manager: </p>
                </div>
            </div>
        </div>
    }
</div>

<hr />
<!-- Example row of columns -->
<div class="row">
    @if (Model.DisplayAssetPieChartPanel)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Assets
                </div>
                <div class="panel-body">
                    <div id="pie_chart_div"></div>
                </div>
            </div>
        </div>
    }
    @if (Model.DisplayAssetObsoletePanel)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Asset Renewel
                </div>
                <div class="panel-body">
                    <div id="chart_div"></div>
                </div>
            </div>
        </div>
    }
    @if (Model.DisplayAssetWarrantyPanel)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Warranty Expiry
                </div>
                <div class="panel-body">
                    <div id="chart_div_warranty"></div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    @if (Model.DisplayWatchlistStatsPanel)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Wishlist
                </div>
                <div class="panel-body">


                    <div class="row">
                        <div class="col-md-2 col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
                            <h2>@Model.TotalWishlist</h2>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-8 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    Pending
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Model.TotalWishlistPending
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    Processing
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Model.TotalWishlistProcessing
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    Supplied
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Model.TotalWishlistSupplied
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    Complete
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Model.TotalWishlistComplete
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript" src="https://www.google.com/jsapi">
</script>

<script type="text/javascript">
    google.load('visualization', '1', { packages: ['corechart', 'bar'] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Month');

        data.addColumn('number', 'Expiry Count');

        var rawData = @Html.Raw(@Model.AssetExpiryData);

        for(var i = 0; i < rawData.length; i++) {
            data.addRow([rawData[i].ColumnDescription, rawData[i].CountOf]);
        }

        var options = {
            title: 'Assets due to expire in the next 4 months',
            hAxis: {
                title: 'Date Period',
                viewWindow: {
                    min: [7, 30, 0],
                    max: [17, 30, 0]
                }
            },
            vAxis: {
                title: 'Total'
            }
        };

        var chart = new google.visualization.ColumnChart(
          document.getElementById('chart_div'));

        chart.draw(data, options);
    }

    google.setOnLoadCallback(drawPieChart);
    function drawPieChart() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Asset Category');
        data.addColumn('number', 'Count of Assets');

        var rawData = @Html.Raw(@Model.AssetsByCategory);

        for(var i = 0; i < rawData.length; i++) {
            data.addRow([rawData[i].ColumnDescription, rawData[i].CountOf]);
        }

        var options = {
            title: 'Assets by Category'
        };

        var chart = new google.visualization.PieChart(
          document.getElementById('pie_chart_div'));

        chart.draw(data, options);
    }

    google.setOnLoadCallback(drawWarrantyChart);
    function drawWarrantyChart() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Month');
        data.addColumn('number', 'Expiry Count');
        data.addColumn({ type: 'string', role: 'style' });
        var rawData = @Html.Raw(@Model.WarrantyExpiryData);

        for(var i = 0; i < rawData.length; i++) {
            data.addRow([rawData[i].ColumnDescription, rawData[i].CountOf, 'color: gold']);
        }

        var options = {
            title: 'Warranties due to expire in the next 4 months',
            hAxis: {
                title: 'Date Period',
                viewWindow: {
                    min: [7, 30, 0],
                    max: [17, 30, 0]
                }
            },
            vAxis: {
                title: 'Total'
            }
        };

        var chart = new google.visualization.ColumnChart(
          document.getElementById('chart_div_warranty'));
        chart.draw(data, options);
    }

</script>



